---

# Update system
- name: Update system packages
  import_role:
    name: update_pkgs

# Set hostname
- name: Setting up hostname
  import_tasks: hostname.yml

# Set _domain variable
- name: Set _domain variable
  import_role:
    name: setdomain
  run_once: true
  delegate_to: "localhost"

# Add limited sudo user
- name: Create sudo user
  import_role: 
    name: sudouser

- name: Set root password
  import_role:
    name: setrootpwd

# Add ssh pub keys
- name: Set SSH public key
  import_role:
    name: sshkey

# Secure ssh auth
- name: Disable root login
  import_role: 
    name: securessh
  when: disable_root is defined

# Install UFW
- name: Install UFW
  import_role:
    name: ufw

- name: Apply ufw rules
  import_tasks: ufw_rules.yml